* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


nav {
    max-width: 1300px;
    padding: 2rem 1rem 0rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.links {
    display: flex;
    gap: clamp(1rem, 5vw, 2rem);
    align-items: center;
}

.logo {
    display: flex;
}

.logo img {
    width: clamp(10rem, 18vw, 18.25rem);
}

.links a {
    color: #3C3C3C;
    font-weight: 600;
    font-size: clamp(0.8rem, 1vw, 1rem);
    text-decoration: none;

}
.three-line{
    width: 30px;
    height: 30px;
    display: none;
}
.main-head {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 4.5rem 1rem 15rem 1rem;
    gap: clamp(2rem, 5vw, 5rem);
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.left h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: #FABE4C;
}

.left span {
    color: #363958;
}

.left p {
    color: #3E3E3E;
    font-size: 1rem;
}

.buy-now-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 60px;
    color: white;
    background-color: #85A019;
    text-align: center;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.buy-now-btn img{
    height: 25px;
    width: 25px;
}

.right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.right img {
    width: clamp(200px, 40vw, 450px);
    height: auto;
}
@media  (max-width: 576px) {
    .links a{
        display: none;
    }
    .main-head {
        flex-direction: column;
    }

    .right{
        padding-top: 5rem;
    }
    .three-line{
        display: flex;
    }
}